# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Data / logs
data/
logs/

# OS files
.DS_Store
Thumbs.db

# Ignore local helper scripts
scripts/*.py

# Ignore local README drafts or notes
R.md
